/* body{
    display: flex;
} */
html{
    font-size: 16px;
}
body, input, label, button {
    font-size: 0.85rem;
    font-family: sans-serif, arial;
    color: #222;
}
.rowgs{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
    margin: 1rem 0;
}
.hr{
    border-bottom: 1px solid black;
}
.buttonrow{
    margin-top: 0.7rem
}
nav{
    text-align: right; 
    float:right;
    bottom: 0%;
}
nav a{
    display: inline-block;
    margin:5px;
    text-decoration: none;
    color: #222;
    bottom:0px;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited{
    text-decoration: none;
}
.pageCenter{
    text-align:center;
  
}
img{
    padding:1.25rem;
    width:10rem;
}
input[type="text"]{
    width:50%;
    border-color: grey;
    height:2rem;
    border:0.1rem solid grey;

}
input:focus-visible {
    outline:none;
}
.button{
    padding: 0.3rem;
    margin: 0.3rem;  
    background-color: #f8f9fa;
    border: 0.1rem solid #f8f9fa;
}
input.button:hover{
    margin:0.2rem;
    border: 0.2rem solid #dadce0;
}